table{
    border-collapse: collapse;
    width: 50%;
    border: 2px solid chocolate;
    background-color: wheat;
    margin: auto;
}
h1{
    text-align: center;
}
#banana{
    border-collapse: collapse;
    width: 50%;
    border: 2px solid chocolate;
    background-color: wheat;
}
.data {
    display: block;
    margin: 0 0 0 0 ;
    width: 35%;
    min-height: 2em;
}