body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    color: violet;
}
.darkMode{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    background-color: darkslategrey;
}
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.flex-warp{
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
.cell {
    border: 2px solid violet;
    color: palevioletred;
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset, #toggle {
    text-align: center;
    font-size: 20px;
    border: 1px solid palevioletred;
    height: 55px;
    width: 100px;
    margin: 10px;
    color: palevioletred;
}